/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #44a2ff;
  --secondary-color: #ff7eea;
  --tertiary-color: #ff87f1;
  --destructive-color: #ff4444;
  --neutral-light-color: #dfdfdf;
  --neutral-medium-color: #808080;
  --neutral-dark-color: #434343;
  --neutral-darker-color: #212121;
  --disabled-color: #808080;
}

body, html, #root {
  margin: 0;
  padding: 0;
  background-color: var(--neutral-darker-color);
}

#root {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--neutral-light-color);
}

a {
  padding: 4px 8px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
}

.border {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  background-color: var(--neutral-dark-color);
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
}

ul, ol {
  margin-left: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;

  &.destructive {
    border-color: var(--destructive-color);
    color: var(--destructive-color);
  }

  &:hover{
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }



  &:disabled {
    color: var(--disabled-color);
    border-color: var(--disabled-color);
    cursor: not-allowed;
  }
}
