@font-face {
  font-family: 'Satoshi';
  src: url('/static/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


#root {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}